{
    "plugins": [
        "syntax-dynamic-import",
        "@babel/plugin-proposal-class-properties",
        "transform-runtime"
    ],
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false
            }
        ]
    ]
}
